<?php
/**
 * @author Aleš Cankar
 * @copyright Copyright (c) 2018 Optiweb (https://www.optiweb.com)
 *
 * @var $block \Optiweb\Gdpr\Block\Index
 */
?>
<div id="gdpr_top_content">
    <?= /* @noEscape */ $block->getTopContent() ?>
    <div class="settings">
        <p><?= /* @noEscape */ __('You can change your cookie preferences by clicking this button') ?> <button class="action primary gdpr-popup-link"><?= /* @noEscape */ __('Manage cookie settings') ?></button></p>
    </div>
</div>
<div class="static-cookies">
    <table class="gdpr-table">
        <thead>
        <tr>
            <th width="20"><?= /* @noEscape */ __('Name') ?></th>
            <th width="8"><?= /* @noEscape */ __('Type') ?></th>
            <th width="8"><?= /* @noEscape */ __('Expiration') ?></th>
            <th width="64"><?= /* @noEscape */ __('Description') ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($block->getCSVCookies() as $cookie) : ?>
        <tr>
            <td><?= /* @noEscape */ $cookie[0] ?></td>
            <td><?= /* @noEscape */ $cookie[1] ?></td>
            <td><?= /* @noEscape */ $cookie[2] ?></td>
            <td><?= /* @noEscape */ $cookie[3] ?></td>
        </tr>
        <?php endforeach ?>
        </tbody>
    </table>

</div>

<div class="user-cookies">
    <div data-bind="scope: 'gdprCookiesTable'">
        <div data-bind="fadeVisible: isLoading" class="loading-mask">
            <h2 data-bind="text: $t('Loading...')"></h2>
        </div>
        <!-- ko template: getTemplate() --><!-- /ko -->
    </div>
</div>
<style type="text/css">
    .cookie-value { word-break : break-all }
    .gdpr-table { table-layout : fixed }
    .gdpr-table tbody tr:nth-child(odd) { background-color: #f5f5f5 }
    .gdpr-popup-read-more { display : none }
</style>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "gdprCookiesTable": {
                        "component": "Optiweb_Gdpr/js/gdpr-cookies",
                        "template": "Optiweb_Gdpr/cookies/current",
                        "config" : {
                            "cookieCategory" : <?php echo $block->getCookieCategories() ?>
                        }
                    }
                }
            }
        }
    }
</script>