<?php
/**
 * @author Aleš Cankar
 * @copyright Copyright (c) 2018 Optiweb (https://www.optiweb.com)
 *
 * @var $block \Optiweb\Gdpr\Block\Index
 */
use \Optiweb\Gdpr\Block\Index as Gdpr;
?>
<div id="gdpr_modal" style="display:none">
    <?= /* @noEscape */ $block->getPopupContent() ?>
    <form action id="gdpr-cookie-settings">
        <div class="control">
            <input type="checkbox" checked disabled name="gdpr-allow-mandatory">
            <label for="gdpr-allow-mandatory"><?= /* @noEscape */ __('Mandatory cookies') ?></label>
            <div class="helper-text">
                <?= /* @noEscape */ $block->getConfig('ow_gdpr/cookies/description_mandatory') ?>
            </div>
        </div>
        <div class="control">
            <input type="checkbox" name="gdpr-allow-analytics" data-category="analytics">
            <label for="gdpr-allow-analytics"><?= /* @noEscape */ __('Analytics cookies') ?></label>
            <div class="helper-text">
                <?= /* @noEscape */ $block->getConfig('ow_gdpr/cookies/description_analytics') ?>
            </div>
        </div>
        <div class="control">
            <input type="checkbox" name="gdpr-allow-marketing" data-category="marketing">
            <label for="gdpr-allow-marketing"><?= /* @noEscape */ __('Marketing cookies') ?></label>
            <div class="helper-text">
                <?= /* @noEscape */ $block->getConfig('ow_gdpr/cookies/description_marketing') ?>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'mage/translate'
    ], function ($, modal, $t) {
        'use strict';
        var cookieKey = '<?= /* @noEscape */ Gdpr::COOKIE_KEY ?>',
            gdprForm = $('#gdpr-cookie-settings'),
            gdprCookieCategories = <?= /* @noEscape */ $block->getCookieCategories() ?>,
            showModal = function() {
                var isHome = <?= $block->isHomePage() ?>;
                return ($.cookie(cookieKey) !== 'true' && isHome);
            },
            gdprModal = $('#gdpr_modal').modal({
                autoOpen: showModal(),
                buttons: [{
                    text: $t('Confirm'),
                    class: 'primary action button',
                    click: function () {
                        $.cookie(cookieKey, 'true', {
                            expires: 1000,
                            path: '/'
                        });
                        gdprForm.find('input:enabled').each(function(k, element){
                           $.cookie($(element).prop('name'), $(element).prop('checked').toString(), {
                               expires: 1000,
                               path: '/'
                            });
                           if (!$(element).prop('checked')) {
                               var cat = $(element).data('category');
                               console.log('Removing cookies: ', gdprCookieCategories[cat]);
                               $.each(gdprCookieCategories[cat], function(i, val) {
                                   $.cookie(val, null, { path : '/' })
                               });
                           }
                        });
                        gdprModal.modal('closeModal');
                        location.reload();
                    }
                }, {
                    text: $t('Cancel'),
                    class : 'action button',
                    click: function() {
                        gdprModal.modal('closeModal');
                    }
                }, {
                    text: $t('Read more'),
                    class : 'gdpr-popup-read-more',
                    click: function () {
                        location.href = '<?= /* @noEscape */ $this->getUrl('gdpr') ?>'
                    }
                }],
                opened : function() {
                    gdprForm.find('input:enabled').each(function(k, element) {
                       if ($.cookie($(element).attr('name')) == 'true') {
                           $(element).prop('checked', 'true')
                       }
                    });
                }
            }),
            popupLink = $('<?= /* @noEscape */ $block->getConfig('ow_gdpr/general/popup_css_selector') ?>');

        popupLink.on('click', function () {
            gdprModal.modal('openModal')
        });
    });
</script>