<!--
  ~ @author Aleš Cankar
  ~ @copyright Copyright (c) 2018 Optiweb (https://www.optiweb.com)
  -->

<div class="category">
    <h2 data-bind="text: $t('Mandatroy cookies')"></h2>
    <table class="gdpr-table">
        <thead>
        <tr>
            <th data-bind="text: $t('Cookie key')" width="20"></th>
            <th data-bind="text: $t('Value')" width="80"></th>
        </tr>
        </thead>
        <tbody data-bind="foreach: getCookies()['mandatory']">
        <tr>
            <td data-bind="text: key"></td>
            <td data-bind="text: value, css: 'cookie-value'"></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- ko if: getCookies()['analytics'].length -->
<div class="category">
    <h2 data-bind="text: $t('Analytics')"></h2>
    <table class="gdpr-table">
        <thead>
        <tr>
            <th data-bind="text: $t('Cookie key')" width="20"></th>
            <th data-bind="text: $t('Value')" width="80"></th>
        </tr>
        </thead>
        <tbody data-bind="foreach: getCookies()['analytics']">
        <tr>
            <td data-bind="text: key"></td>
            <td data-bind="text: value, css: 'cookie-value'"></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- /ko -->
<!-- ko if: getCookies()['marketing'].length -->
<div class="category">
    <h2 data-bind="text: $t('Marketing')"></h2>
    <table class="gdpr-table">
        <thead>
        <tr>
            <th data-bind="text: $t('Cookie key')" width="20"></th>
            <th data-bind="text: $t('Value')" width="80"></th>
        </tr>
        </thead>
        <tbody data-bind="foreach: getCookies()['marketing']">
        <tr>
            <td data-bind="text: key"></td>
            <td data-bind="text: value, css: 'cookie-value'"></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- /ko -->